@import '../../styles/utils/mixins';

.pagination {
  display: flex;

  &__list {
    display: flex;
  }

  &__item {
    display: flex;
    box-sizing: border-box;
    margin-inline: 4px;
    justify-content: center;
    align-items: center;
    pointer-events: all;

    @include defaultFont;

    &--dark {
      color: $dark-primary-color;
      background-color: $surface-primary-dark-theme-color;
    }

    &--selected {
      color: $white-color;
      background-color: $primary-color;
      pointer-events: none;

      &--dark {
        color: $dark-primary-color;
        border: 1px solid $accent-dark-theme-color;
        background-color: $accent-dark-theme-color;
      }
    }
  }

  &__arrow-left {
    margin-right: 12px;
  }

  &__arrow-right {
    margin-left: 12px;
  }
}
