@import '../../styles/utils/variables';
@import '../../styles/utils/mixins';

.catalog-page {
  &__breadcrumbs-container {
    margin-block: 24px;

    @include onTablet {
      margin: 24px 0 40px;
    }
  }

  &__wrap {
    grid-column: 1 / -1;
    align-items: center;

    @include pageGrid;

    flex-direction: column;
    gap: 24px;
  }

  &__header {
    grid-column: 1 / -1;
  }

  &__dropdowns-container {
    grid-row: 1;
    grid-column: 1 / -1;

    display: flex;
    max-height: 40px;
    gap: 16px;
    margin-bottom: 24px;
  }

  &__title {
    margin-bottom: 8px;
  }

  &__amount-products {
    margin-bottom: 32px;

    color: $secondary-color;

    @include onTablet {
      margin-bottom: 40px;
    }
  }

  &__sort-dropdown {
    width: 50%;
    min-width: 150px;

    @include onTablet {
      width: 190px;
    }

    @include onDesktop {
      width: 180px;
    }
  }

  &__search-wrapper {
    grid-column: 1 / -1;
    display: flex;
    flex-direction: column;
    gap: 2px;

    @include onTablet {
      grid-column: -6 / -1;
      grid-row: 1;
    }

    @include onDesktop {
      grid-column: -9 / -1;
    }
  }

  &__search-title {
    display: inline-block;
    color: $secondary-color;
  }

  &__search {
    height: 40px;
    padding-inline: 24px 6px;
    outline: 0;

    @include withButtonBorder;

    box-sizing: border-box;
    color: $secondary-color;
    font-size: 16px;
    transition: box-shadow $transition-duration,
      background-position $transition-duration;

    background: url('../icons/search-icon.svg');
    background-repeat: no-repeat;
    background-position: right 10px top 50%;

    @include onDesktop {
      &:hover, &:focus {
        box-shadow: 0 2px 15px 0 #0000000D;
        background-position: right -10% top 50%;
      }
    }

    &:focus-visible {
      border: 1px solid $primary-color;
    }
  }

  &__items-per-page-dropdown {
    width: 50%;

    @include onTablet {
      width: 140px;
    }

    @include onDesktop {
      width: 130px;
    }
  }

  &__dropdown-title {
    display: inline-block;
    color: $secondary-color;
  }

  &__products {
    grid-column: 1 / -1;
    margin-bottom: 24px;

    @include onTablet {
      margin-bottom: 40px;
    }
  }

  &__pagination {
    margin-bottom: 64px;

    @include onDesktop {
      margin-bottom: 80px;
    }
  }
}
