@import '../utils/mixins';
@import '../utils/variables';

$button-padding: 8px;
$button-border: 1px solid $elements-color;
$button-border-primary: 1px solid $primary-color;

.button {
  pointer-events: all;
  cursor: pointer;

  @include withButtonSize;
  @include withButtonBorder;

  box-sizing: border-box;
  padding: $button-padding;

  background-repeat: no-repeat;
  background-position: center;
  transition: border $transition-duration;

  background-color: $white-color;

  @include hoverEffect(border, $button-border-primary);

  &--disabled {
    cursor: default;
    pointer-events: none;
    border: $button-border;
  }

  &--dark {
    border: none;
    background-color: $surface-secondary-dark-theme-color;

    @include hoverEffect(background-color, $icons-dark-theme-color);
  }

  &--arrow-left {
    background-image: url(../icons/arrow-left.svg);

    &--dark {
      background-image: url(../icons/arrow-left-white.svg);
    }

    &--disabled {
      background-image: url(../icons/arrow-left-disabled.svg);
      cursor: default;
      pointer-events: none;

      &--dark {
        border: 1px solid $elements-dark-theme-color;
        background-image: url(../icons/arrow-left-disabled-dark.svg);
        background-color: $dark-theme-background-color;
      }
    }
  }

  &--arrow-right {
    background-image: url(../icons/arrow-right.svg);

    &--dark {
      background-image: url(../icons/arrow-right-white.svg);
    }

    &--disabled {
      background-image: url(../icons/arrow-right-disabled.svg);
      cursor: default;
      pointer-events: none;

      &--dark {
        border: 1px solid $elements-dark-theme-color;
        background-image: url(../icons/arrow-right-disabled-dark.svg);
        background-color: $dark-theme-background-color;
      }
    }
  }

  &--minus {
    background-image: url(../icons/minus.svg);

    &--disabled {
      background-image: url(../icons/minus-disabled.svg);
      border: $button-border;
      cursor: default;
      pointer-events: none;
    }
  }

  &--plus {
    background-image: url(../icons/plus.svg);
  }

  &--top {
    background-image: url(../icons/go-top.svg);

    &--dark {
      background-image: url(../icons/go-top-dark.svg);
    }
  }

  &--add {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 40px;
    width: 100%;

    border: 0;
    background-color: $primary-color;
    font-size: 12px;
    color: $white-color;

    @include hoverEffect(box-shadow, 0 3px 13px 0 $hover-button-shadow-color);

    @include onTablet {
      font-size: 14px;
    }

    &--dark {
      background-color: $accent-dark-theme-color;

      &:hover {
        border: none;
      }

      @include hoverEffect(background-color, $accent-dark-hover);
    }

    &--selected {
      color: $green-color;
      border: $button-border;
      background-color: $white-color;

      @include onDesktop {
        &:hover {
          border: $button-border;
          box-shadow: 0 3px 13px 0 $hover-button-shadow-color;
        }
      }

      &--dark {
        border: none;
        color: $dark-primary-color;
        background-color: $surface-secondary-dark-theme-color;

        @include onDesktop {
          &:hover {
            border: none;
            background-color: $surface-secondary-dark-theme-color;
            box-shadow: 0 3px 13px 0 $hover-button-shadow-color;
          }
        }
      }
    }
  }

  &--cart {
    height: 48px;
  }

  &--favourite {
    flex-shrink: 0;
    width: 40px;
    height: 40px;
    background-image: url('../icons/buttons/icon-favourites.svg');

    &--dark {
      border: none;
      background-color:
        $surface-secondary-dark-theme-color;
      background-image: url('../icons/buttons/icon-favourites-dark.svg');

      @include hoverEffect(background-color, $icons-dark-theme-color);
    }

    &--selected {
      background-image: url('../icons/buttons/icon-favourites-selected.svg');

      &--dark {
        border: 1px solid $elements-dark-theme-color;
        background-color: $surface-primary-dark-theme-color;
      }
    }
  }
}

.selector {
  display: flex;
  justify-content: center;
  align-items: center;
  border: $button-border;
  padding-inline: $button-padding;
  padding-block: 7px 4px;

  @include hoverEffect(border, $button-border-primary);

  &--color-picker {
    @include hoverEffect(border, 1px solid $icons-color);

    padding: 0;
    border-radius: 50%;

    &--selected {
      border: $button-border-primary;
    }
  }

  &--selected {
    background-color: $primary-color;
    color: $white-color;
    border: $button-border-primary;
  }

  &__item {
    &--color-picker {
      height: 30px;
      width: 30px;
      border: 2px solid $white-color;
      border-radius: 50%;
    }
  }
}