@import '../utils/mixins';

.container {
  --inline-container-padding: 16px;

  position: relative;
  left: 50%;
  transform: translateX(-50%);
  max-width: 1200px;

  padding-inline: var(--inline-container-padding);

  @include onTablet {
    --inline-container-padding: 24px;
  }

  @include onDesktop {
    --inline-container-padding: 32px;
  }
}
