@import '../../styles/utils/variables';
@import '../../styles/utils/mixins';

.tech-specs {
  display: flex;
  flex-direction: column;
  row-gap: $spacing-small;

  &__header {
    display: flex;
    flex-direction: column;
    row-gap: $spacing-medium;
    margin-bottom: $spacing-medium;
  }

  &__line {
    height: 1px;
    background-color: $elements-color;
  }

  &__info {
    display: flex;
    justify-content: space-between;
    column-gap: $spacing-small;
  }

  &__info-skeleton {
    height: 21px;
  }

  &__name {
    color: $secondary-color;
  }

  &__configuration {
    @include textEllipsis;
  }
}
