@import '../../styles/utils/variables';
@import '../../styles/utils/mixins';

$price-cross-line: 2px;

.product-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 32px;
  height: 100%;
  box-sizing: border-box;
  border: 1px solid $elements-color;

  @include hoverEffect(box-shadow, 0 2px 16px 0 #0000001a);

  @include onTablet {
    min-height: 520px;
  }

  &--dark {
    border: none;
    background-color: $surface-primary-dark-theme-color;

    @include hoverEffect(box-shadow, 0 2px 16px 0 $accent-dark-hover);
  }

  &__title {
    &--skeleton {
      height: 10px;
      width: 100%;
    }
  }

  &__link {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: $spacing-large;
    cursor: pointer;
  }

  &__image {
    object-fit: contain;
    aspect-ratio: 1 / 1;
    
    @include hoverEffect(scale, $transform-scale);

    &--skeleton {
      width: 100%;
      aspect-ratio: 1 / 1;
    }
  }

  &__bottom-part {
    display: flex;
    flex-direction: column;
    gap: $spacing-small;
  }

  &__price {
    position: relative;
    display: flex;
    gap: $spacing-small;
    margin-bottom: $spacing-medium;

    &::after {
      content: '';
      position: absolute;
      bottom: -$spacing-small;
      width: 100%;
      height: 1px;
      background-color: $elements-color;
    }

    &--skeleton {
      height: 30px;
      width: 100px;
    }
  }

  &__actual-price,
  &__full-price {
    font-weight: 700;
    font-size: 22px;
    line-height: 31px;
  }

  &__full-price {
    position: relative;
    color: $secondary-color;
    font-weight: 500;

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      transform: translateY(-$price-cross-line);

      height: $price-cross-line;
      background-color: $secondary-color;
      mix-blend-mode: color-dodge;

      &--dark {
        background-color: $secondary-text-dark-theme-color;
        mix-blend-mode: difference;
      }
    }
  }

  &__characteristics {
    display: flex;
    flex-direction: column;
    gap: $spacing-small;
  }

  &__characteristic {
    display: flex;
    justify-content: space-between;

    &--skeleton {
      height: 10px;
      width: 100%;
    }
  }

  &__characteristic-name {
    color: $secondary-color;
  }

  &__characteristic-value {
    @include textEllipsis;
  }

  &__buttons {
    display: flex;
    column-gap: $spacing-small;
    align-items: center;
    justify-content: space-between;

    &--skeleton {
      width: 100%;
      height: 40px;
    }
  }
}
