@import '../../styles/utils/text-styles';

.favourites-page__wrapper {
  margin-top: 24px;
  margin-bottom: 24px;

  @include onTablet {
    margin-bottom: 40px;
  }
}

.favourites-page__favourites {
  margin-bottom: 8px;
}

.favourites-page__info {
  display: block;
  margin-bottom: 32px;

  @include onTablet {
    margin-bottom: 40px;
  }
}
