@import '../../styles/utils/mixins';
@import './../../styles/utils/variables';

.product-table {
  display: grid;
  gap: 40px 16px;
  justify-content: center;

  grid-template-columns: repeat(auto-fill, minmax($card-width, 1fr));
}

