@import '../../styles/utils/variables';
@import '../../styles/utils/mixins';

.back-button {
  grid-column: span 4;

  @include onTablet {
    grid-column: span 12;
  }

  @include onDesktop {
    grid-column: span 24;
  }

  display: flex;

  align-items: center;
  gap: 4px;

  color: $secondary-color;

  @include hoverEffect(color, $primary-color);

  &--dark {
    color: $dark-primary-color;

    @include onDesktop {
      transition: color $transition-duration, background-image $transition-duration;

      &:hover {
        color: $accent-dark-theme-color;

        .back-button__arrow-left {
          background-image: url(../icons/arrow-left-hover.svg);
        }
      }
    }
  }

  &__arrow-left {
    padding: 8px;

    background-image: url(../icons/arrow-left.svg);
    background-repeat: no-repeat;
    background-position: center;

    &--dark {
      background-image: url(../icons/arrow-left-white.svg);
    }
  }
}