@import '../../styles/utils/variables';
@import '../../styles/utils/mixins';

.characteristic-block {
  &__info {
    display: flex;
    justify-content: space-between;
    padding-bottom: 8px;
    color: $icons-color;

    &--dark {
      color: $secondary-text-dark-theme-color;
    }
  }

  &__subtitle {
    @include onDesktop {
      position: absolute;
      right: 32px;
    }
  }

  &__content {
    display: flex;
    gap: 8px;
  }
}