@import '../../styles/utils/variables';
@import '../../styles/utils/mixins';

.characteristic-block {
  &__info {
    display: flex;
    justify-content: space-between;
    padding-bottom: 8px;
    color: $icons-color;

    &--dark {
      color: $secondary-text-dark-theme-color;
    }
  }

  &__subtitle-skeleton {
    width: 35px;
    height: 15px;
  }

  &__subtitle {
    @include onDesktop {
      position: absolute;
      right: 32px;
    }
  }

  &__content {
    display: flex;
    gap: 8px;
  }

  &__skeleton-wrapper {
    height: 35px;
    width: 60px;
    border-radius: 0;

    &--round {
      width: 30px;
      height: 30px;
    }
  }

  &__skeleton {
    height: 100%;
    width: 100%;
  }
}