@import '../../styles/utils/variables';
@import '../../styles/utils/mixins';

.characteristic-block {
  &__info {
    display: flex;
    justify-content: space-between;
    padding-bottom: 8px;
    color: $icons-color;
  }

  &__subtitle {
    @include onDesktop {
      position: absolute;
      right: 32px;
    }
  }

  &__content {
    display: flex;
    gap: 8px;
  }

  &__item-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid $elements-color;
    padding-inline: 8px;
    padding-block: 7px 4px;

    @include hoverEffect(transform, translateY(-15%));

    &--color-picker {
      padding: 0;
      border-radius: 50%;

      &--selected {
        border: 1px solid $primary-color;
      }
    }

    &--selected {
      background-color: $primary-color;
      color: $white-color;
      border: 0;
    }
  }

  &__item {
    &--color-picker {
      height: 30px;
      width: 30px;
      border: 2px solid $white-color;
      border-radius: 50%;
    }
  }
}
