@import './variables';

@mixin onTablet {
  @media (min-width: $min-tablet-width) {
    @content;
  }
}

@mixin defaultFont {
  font-family: Mont, Arial, Helvetica, sans-serif;
  color: $primary-color;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0;
}

@mixin textEllipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin onDesktop {
  @media (min-width: $min-desktop-width) {
    @content;
  }
}

@mixin withButtonBorder {
  border: 1px solid $icons-color;
}

@mixin withButtonSize {
  height: 32px;
  width: 32px;
}

@mixin hoverEffect($property, $value) {
  @include onDesktop {
    transition: #{$property} $transition-duration;

    &:hover {
      #{$property}: $value;
    }
  }
}

@mixin pageGrid {
  --columns: 4;

  display: grid;
  box-sizing: border-box;

  column-gap: $page-grid-gap;
  grid-template-columns: repeat(var(--columns), 1fr);

  @include onTablet {
    --columns: 12;
  }

  @include onDesktop {
    --columns: 24;
  }
}