$min-tablet-width: 640px;
$min-desktop-width: 1200px;
$max-window-width: 1200px;

$page-grid-gap: 16px;

$primary-color: #313237;
$secondary-color: #89939a;
$icons-color: #b4bdc3;
$elements-color: #e2e6e9;
$hover-background-color: #fafbfc;
$hover-button-shadow-color: #17203166;
$white-color: #fff;
$green-color: #27ae60;
$red-color: #eb5757;
$background-color: $white-color;
$accent-color: $primary-color;
$surface-primary-color: $white-color;
$surface-secondary-color: $white-color;

$dark-primary-color: #F1F2F9;
$secondary-text-dark-theme-color: #75767f;
$dark-theme-background-color: #0f1121;
$surface-primary-dark-theme-color: #161827;
$surface-secondary-dark-theme-color: #323542;
$elements-dark-theme-color: #3b3e4a;
$icons-dark-theme-color: #4a4d58;
$accent-dark-theme-color: #905bff;
$accent-dark-hover: #a378ff;

$card-width: 270px;

$spacing-small: 8px;
$spacing-medium: 16px;
$spacing-large: 24px;

$transition-duration: 0.3s;
$transition-slow-duration: 0.5s;
$transform-scale: 1.1;
$transform-scale-big: 1.3;
