@import '../../styles/utils/mixins';

.shop {
  grid-column: 1 / -1;

  &__product {
    grid-column: span 4;
  }
 }

 .product {
  &__photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: left top;
    grid-column: -1 / 1;
  }
 }

