@import '../../styles/utils/mixins';
@import '../../styles/utils/fonts';
@import '../../styles/utils/variables';

.categories {
  grid-column: 1 / -1;

  &__list {
    display: flex;
    flex-direction: column;
    row-gap: 32px;

    @include onTablet {
      @include pageGrid;
    }
  }

  &__title {
    margin-bottom: 24px;
  }
}

.category {
  grid-column: span 4;

  @include onDesktop {
    grid-column: span 8;
  }

  &__photo-container {
    aspect-ratio: 1/1;
  }

  &__photo {
    display: block;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    transition: background-position $transition-slow-duration;

    margin-bottom: 24px;

    background-position: left 60px top 50px;

    @include onDesktop {
      &:hover {
        background-position: left 25px top 20px;
      }
    }

    &--phones {
      background-image: url(../img/category-phones.webp);
      background-color: #717378;
    }

    &--tablets {
      background-image: url(../img/category-tablets.webp);
      background-color: #86878b;
    }

    &--accessories {
      background-image: url(../img/category-accessories.webp);
      background-color: #ac385e;
    }
  }

  &__title {
    text-transform: capitalize;
    margin-bottom: 4px;
    color: $primary-color;

    @include hoverEffect(color, $secondary-color);

    &--dark {
      color: $dark-primary-color;

      @include hoverEffect(color, $accent-dark-hover);
    }
  }

  &__counter {
    color: $secondary-color;

    &--dark {
      color: $secondary-text-dark-theme-color;
    }
  }
}
