@import '../../styles/utils/variables';
@import '../../styles/utils/mixins';

.cart-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: $spacing-medium;

  padding: $spacing-medium;
  border: 1px solid $elements-color;

  @include onTablet {
    flex-direction: row;
    column-gap: $spacing-large;
    padding: $spacing-large;
  }

  &__info,
  &__link {
    display: flex;
    align-items: center;
    gap: $spacing-medium;

    @include onTablet {
      column-gap: $spacing-large;
    }
  }

  &__delete {
    cursor: pointer;
  }

  &__delete-icon {
    @include hoverEffect(filter, brightness(0.5));
  }

  &__image {
    max-width: 80px;

    @include hoverEffect(transform, scale($transform-scale));
  }

  &__about {
    font-weight: 600;

    @include hoverEffect(color, $secondary-color);
  }

  &__cost,
  &__counter {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__count {
    @include withButtonSize;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__price {
    width: 80px;
    text-align: end;

    font-weight: 700;
  }
}
