.card {
  display: flex;
  flex-direction: column;
  padding: 32px;
  width: 272px;
  height: 506px;

  box-sizing: border-box;

  &__image {
    display: block;
    margin: 0 auto;
    margin-bottom: 8px;
    width: 208px;
    height: 196px;
  }

  &__title {
    margin-bottom: 8px;
    font-weight: 600;
    font-size: 14px;
  }

  &__price-value {
    font-size: 22px;
    font-weight: 800px;
    margin-bottom: 16px;
  }

  &__params {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 8px;
    margin-top: 0;
  }

  &__param-pair {
    display: flex;
    justify-content: space-between;
    margin: 0;
  }

  &__params-info {
    font-size: 12px;
    font-weight: 600;
    margin: 0;
  }

  &__params-value {
    font-size: 12px;
    font-weight: 600;
    margin: 0;
  }

  &__buttons {
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: space-between;
  }

  &__buttons-add {
    display: flex;

    align-items: center;
    justify-content: center;

    width: 160px;
    height: 40px;

    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
    background-color: #313237;
    color: white;

    transition:
      background-color 0.3s ease,
      color 0.3s ease;

    &:hover {
      background-color: lightgrey;
      color: black;
    }
  }
}
