@import '../../styles/utils/variables';
@import '../../styles/utils/mixins';

.about {
  grid-column: 1 / -1;

  display: flex;
  flex-direction: column;
  row-gap: 32px;

  margin-bottom: 32px;

  @include onDesktop {
    grid-column: 1 / span 12;
  }

  &__header {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
  }

  &__line {
    height: 1px;
    background-color: $elements-color;
  }

  &__info-title {
    margin-bottom: 16px;
  }

  &__info-describtion {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__info-describtion-text {
    color: $secondary-color;
  }
}