.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;

  &__wrapper {
    display: flex;
    justify-content: center;
  }

  // &__logo {

  // }

  // &__links {

  // }

  // &__link {

  // }

  // &__go-top {

  // }

  // &__go-top-text {

  // }

  // &__go-top-logo {

  // }
}
