@import '../../styles/utils/mixins';
@import '../../styles/utils/variables';

.footer {
  width: 100%;
  padding-block: 32px;
  border-top: solid 1px var(--elements-color);

  &__wrapper {
    @include pageGrid;

    row-gap: 32px;

    @include onTablet {
      display: flex;
      justify-content: space-between;
    }
  }

  &__logo {
    grid-column: span 4;
  }

  &__links {
    grid-column: span 4;

    display: flex;
    flex-direction: column;
    gap: 16px;

    @include onTablet {
      flex-direction: row;
      align-items: center;
    }

    @include onDesktop {
      column-gap: 107px;
    }
  }

  &__link {
    color: $secondary-color;

    @include hoverEffect(color, $primary-color);

    &--dark {
      color: $dark-primary-color;
      
      @include hoverEffect(color, $accent-dark-hover);
    }
  }

  &__go-top {
    grid-column: 2 / 4;

    display: flex;
    justify-content: center;
    column-gap: 16px;
    align-items: center;

    font-size: 12px;
  }

  &__go-top-text {
    color: var(--secondary-text-color);
    font-weight: 700;

    @include hoverEffect(color, $primary-color);

    &--dark {
      @include hoverEffect(color, $accent-dark-hover);
    }
  }
}
