@import '../../styles/utils/mixins';

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;

  padding-block: 32px;

  border-top: solid 1px $elements-color;
  font-size: 12px;

  &__wrapper {
    @include pageGrid;

    row-gap: 32px;

    @include onTablet {
      display: flex;
      justify-content: space-between;
    }
  }

  &__logo {
    grid-column: span 4;
  }

  &__links {
    grid-column: span 4;
    display: flex;
    flex-direction: column;
    gap: 16px;

    @include onTablet {
      flex-direction: row;
      align-items: center;
    }

    @include onDesktop {
      column-gap: 107px;
    }
  }

  &__link {
    font-weight: 800;
    line-height: 11px;
    text-transform: uppercase;
  }

  &__go-top {
    grid-column: 2 / 4;
    justify-content: center;
    display: flex;
    column-gap: 16px;
    align-items: center;
    font-size: 12px;
  }

  &__go-top-text {
    color: $secondary-color;
    font-weight: 700;
  }
}