@import '../../styles/utils/variables';
@import '../../styles/utils/mixins';

.bread-crumbs {
  $crumb-gap: 8px;
  $crumb-size: 16px;

  display: flex;
  gap: $crumb-gap;


  text-transform: capitalize;

  &__crumb {
    min-width: $crumb-size;
    flex: 0 0 auto;
    height: $crumb-size;

    position: relative;
    display: flex;
    align-items: center;
    text-overflow: ellipsis;

    color: $primary-color;

    color: var(--primary-text-color);
  }

  &__arrow {
    background: url('../icons/arrow-right-disabled.svg') center no-repeat;
    width: $crumb-size;

    &--dark {
      background: url('../icons/arrow-right-disabled-dark.svg') center no-repeat;
    }
  }

  &__crumb:last-child {
    color: var(--secondary-text-color);
  }

  &__link {
    color: inherit;

    @include textEllipsis;
  }

  &__home {
    background: url('../icons/buttons/icon-home.svg') center no-repeat;
    width: $crumb-size;

    &--dark {
      background: url('../icons/buttons/icon-home-dark.svg') center no-repeat;
    }
  }
}
