@import '../../styles/utils/variables';

.bread-crumbs {
  $crum-size: 16px;
  $crum-gap: 8px;

  display: flex;
  gap: $crum-gap;
  margin: 24px 0 40px;

  text-transform: capitalize;

  &__crumb {
    height: $crum-size;

    position: relative;
    display: flex;
    align-items: center;

    color: $secondary-color;
  }

  &__arrow {
    background: url('../../../public/icons/arrow-right-disabled.svg') center no-repeat;
    width: $crum-size;
  }

  &__crumb:last-child {
    color: $primary-color;
  }

  &__link {
    color: inherit;
  }

  &__home{
    background: url('../../../public/icons/buttons/icon-home.svg') center no-repeat;
    width: $crum-size;
  }
}
