@import './styles/utils/fonts';
@import './styles/utils/variables';
@import './styles/utils/root';
@import './styles/utils/text-styles';
@import './styles/utils/mixins';
@import './styles/utils/normalize';
@import './styles/blocks/wrapper';
@import './styles/blocks/button';
@import './styles/blocks/container';

iframe {
  display: none;
}

body {
  @include defaultFont;

  background-color: var(--body-bg-color);
}

p {
  font-size: 14px;
}

h1,
h2,
h3,
h4,
p {
  color: var(--primary-text-color);
}

a {
  color: var(--secondary-text-color);
}

.app-wrapper {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
