@import './styles/utils/fonts';
@import './styles/utils/variables';
@import './styles/utils/text-styles';
@import './styles/utils/mixins';
@import './styles/utils/normalize';
@import './styles/blocks/wrapper';
@import './styles/blocks/button';
@import './styles/blocks/container';

iframe {
  display: none;
}

body {
  --product-pagination-size: 50px;

  @include defaultFont;
}

p {
  color: $primary-color;
  font-size: 14px;
}

a {
  color: $secondary-color;
}

.app-wrapper {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
