@import '../../styles/utils/mixins';

.item-card-page {
  @include pageGrid;

  &__swiper {
    grid-column: 1 / -1;

    @include onTablet {
      grid-column: 1 / 7;
    }

    @include onDesktop {
      grid-column: 1 / 12;
    }
  }

  &__actions {
    grid-column: 1 / -1;

    display: flex;
    flex-direction: column;

    @include onTablet {
      grid-column: 8 / -1;
    }

    @include onDesktop {
      grid-column: 13 / span 7;
    }
  }

  &__actions-info {
    display: flex;
    justify-content: space-between;
  }
}